{% extends "chat/chat/base.html" %}

{% block content %}
			<!-- Main -->
				<div class="wrapper style3">
					<div class="title">About Us</div>
					<div id="main" class="container"  style="width: 900px">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<h1 class="style1">
										<h2>Lets talk about us!</h2>
									</h1>
									<p>So, we cool boys and girl which study at perfect university KPI named Igro Sikorskiy.
                                    We work hark to make our life esy and responsability. So in that case we want to study
                                    all that we can study.</p>
									<p>That site is our curse work which work very good, we think. In that case we want mark 5
                                    to all of us. </p>
                                    <p>And we waiting donate from you becouse we want ICE_CREAM!!!</p>
                                    <p>Thank you for interest in our site, that i promise, you dont read that</p>
									<p>Phasellus nisl nisl, varius id porttitor sed, pellentesque ac orci. Pellentesque
									habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi
									bibendum justo sed mauris vehicula malesuada aliquam elit imperdiet. Aliquam eu nibh
									lorem, eget gravida mi. Duis odio diam, luctus et vulputate vitae, vehicula ac dolor.
									Pellentesque at urna eget tellus lobortis ultrices sed non erat. Donec eget erat non
									magna volutpat malesuada quis eget eros. Nullam sodales cursus sapien, id consequat
									leo suscipit ut. Praesent id turpis vitae turpis pretium ultricies. Vestibulum sit
									amet risus elit.</p>
                                    <h2>And now go, and chat on!</h2>
								</article>
							</div>

					</div>
				</div>

    <div class="wrapper style2">
        <div class="title">Chat selection</div>
        <div id="main" class="container">


            <!-- Features -->
            <section id="features">
                <h1 class="style1">
                    <h2 style="text-align: center;">Chat now! Simply select room what u want</h2>
                    <p style="text-align: center;">Just click at name of group that u like</p>
                </h1>
                <div class="feature-list">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/pysics/">
                                <section>
                                    <h3 class="icon fa-wrench">Physics</h3>
                                    <p>People that can do everything. But do nothing.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/FE/">
                                <section>
                                    <h3 class="icon fa-check">FE</h3>
                                    <p>This humans unbelievable. All that they do be perfect. But they haven`t girls.
                                        Ha-ha.</p>
                                </section>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/ciber/">
                                <section>
                                    <h3 class="icon fa-picture-o">Ciber-warriors</h3>
                                    <p>True ciber-warriors can do 1 thing. Do nothing.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/crypt/">
                                <section>
                                    <h3 class="icon fa-cog">Cryptologyst</h3>
                                    <p>Mathematics is there life. All world they can describe by this since.
                                        But, unfortunately, not all can understand them.</p>
                                </section>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/public/">
                                <section>
                                    <h3 class="icon fa-comment">Public chat</h3>
                                    <p>Chat for not PTI costumers were they can talk about us. And envy us.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/modelists/">
                                <section>
                                    <h3 class="icon fa-refresh">Modelists</h3>
                                    <p>Chat for true physics. No joke. No mems. Only work.</p>
                                </section>
                            </a>
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </div>
{% endblock content %}