{% extends "chat/chat/base.html" %}

{% block content %}
    <!-- Main -->
    <div class="wrapper style3">
        <div class="title">Contact Us</div>
        <div id="main" class="container">
            <div class="row 150%">
                <div class="4u 12u(mobile)">

                    <!-- Sidebar -->
                    <div id="sidebar">
                        <section class="box">
                            <header>
                                <h2>Who we are?</h2>
                            </header>
                            <p>We are team of students that make course work. And its perfect.</p>
                            <a href="/about/" class="button style1">About Us!</a>
                        </section>
                        <section class="box">
                            <header>
                                <h2>Our social link</h2>
                            </header>
                            <ul class="style3">
                                <li><a href="http://vk.com/aurora">Aurora (Kreser) Berger</a></li>
                                <li><a href="http://vk.com/ivan">Ivan (Kiska) Nikolaenko</a></li>
                                <li><a href="http://vk.com/kapsterz">Andrey (Idiot) Osmolovskiy</a></li>
                                <li><a href="http://django.com">Django Site</a></li>
                                <li><a href="http://github.com/kapsterz/channels-example">Repo with source</a></li>
                                <li><a href="http://pikabu.ru">MEMES</a></li>
                            </ul>
                        </section>
                    </div>

                </div>
                <div class="8u 12u(mobile) important(mobile)">

                    <!-- Content -->
                    <div id="content">
                        <div class="row 150%">
                            <div class="6u 12u(mobile)">
                                <section class="box">
                                    <h1>
                                        <h2>Donate us some money</h2>
                                    </h1>
                                    <p>We work hard and want have money for Ice-Cream</p>
                                    <a href="/donate/" class="button style1">Donate</a>
                                </section>
                            </div>
                            <div class="6u 12u(mobile)">
                                <section class="box">
                                    <header>
                                        <h2>Or read more about us</h2>
                                    </header>
                                    <p>In this link u can know who we are and what we want</p>
                                    <a href="/about/" class="button style1">About Us</a>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Highlights -->
    <div class="wrapper style2">
        <div class="title">Contact in Chat!</div>
        <div id="main" class="container">


            <!-- Features -->
            <section id="features">
                <h1 class="style1">
                    <h2>Chat now! Simply select room what u want</h2>
                    <p>Just click at name of group that u like</p>
                </h1>
                <div class="feature-list">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/pysics/">
                                <section>
                                    <h3 class="icon fa-wrench">Physics</h3>
                                    <p>People that can do everything. But do nothing.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/FE/">
                                <section>
                                    <h3 class="icon fa-check">FE</h3>
                                    <p>This humans unbelievable. All that they do be perfect. But they haven`t girls.
                                        Ha-ha.</p>
                                </section>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/ciber/">
                                <section>
                                    <h3 class="icon fa-picture-o">Ciber-warriors</h3>
                                    <p>True ciber-warriors can do 1 thing. Do nothing.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/crypt/">
                                <section>
                                    <h3 class="icon fa-cog">Cryptologyst</h3>
                                    <p>Mathematics is there life. All world they can describe by this since.
                                        But, unfortunately, not all can understand them.</p>
                                </section>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/public/">
                                <section>
                                    <h3 class="icon fa-comment">Public chat</h3>
                                    <p>Chat for not PTI costumers were they can talk about us. And envy us.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/modelists/">
                                <section>
                                    <h3 class="icon fa-refresh">Modelists</h3>
                                    <p>Chat for true physics. No joke. No mems. Only work.</p>
                                </section>
                            </a>
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </div>
{% endblock content %}
