{% extends "chat/chat/base.html" %}

{% block content %}
    <!-- Main -->
    <div class="wrapper style2">
        <div class="title">Right Sidebar</div>
        <div id="main" class="container">

            <!-- Content -->
            <div id="content">
                <article class="box post">
                    <h1 class="style1">
                        <h2>You can donate any money from any method!</h2>
                        <p>We will much thanks for u. We wan Ice-Cream...</p>
                    </h1>
                    <iframe frameborder="0" allowtransparency="true" scrolling="no"
                            src="https://money.yandex.ru/quickpay/shop-widget?account=410011948589053&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets=Donate+for+ice-cream&targets-hint=&default-sum=10&button-text=04&successURL=%2Fsuccess%2F"
                            width="450" height="198"></iframe>
                </article>
            </div>
        </div>
    </div>

    <!-- Highlights -->
    <div class="wrapper style2">
        <div class="title">Chat selection</div>
        <div id="main" class="container">


            <!-- Features -->
            <section id="features">
                <h1 class="style1">
                    <h2>Chat now! Simply select room what u want</h2>
                    <p>Just click at name of group that u like</p>
                </h1>
                <div class="feature-list">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/pysics/">
                                <section>
                                    <h3 class="icon fa-wrench">Physics</h3>
                                    <p>People that can do everything. But do nothing.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/FE/">
                                <section>
                                    <h3 class="icon fa-check">FE</h3>
                                    <p>This humans unbelievable. All that they do be perfect. But they haven`t girls.
                                        Ha-ha.</p>
                                </section>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/ciber/">
                                <section>
                                    <h3 class="icon fa-picture-o">Ciber-warriors</h3>
                                    <p>True ciber-warriors can do 1 thing. Do nothing.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/crypt/">
                                <section>
                                    <h3 class="icon fa-cog">Cryptologyst</h3>
                                    <p>Mathematics is there life. All world they can describe by this since.
                                        But, unfortunately, not all can understand them.</p>
                                </section>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <a href="/public/">
                                <section>
                                    <h3 class="icon fa-comment">Public chat</h3>
                                    <p>Chat for not PTI costumers were they can talk about us. And envy us.</p>
                                </section>
                            </a>
                        </div>
                        <div class="6u 12u(mobile)">
                            <a href="/modelists/">
                                <section>
                                    <h3 class="icon fa-refresh">Modelists</h3>
                                    <p>Chat for true physics. No joke. No mems. Only work.</p>
                                </section>
                            </a>
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </div>

{% endblock content %}