{% extends "chat/chat/base.html" %}

{% block content %}

    <div id="intro-wrapper" class="wrapper style1">
        <div class="title">Donate</div>
        <section id="intro" class="container">
            <p class="style1">Many thanks for you!</p>
            <p class="style2">
                Now we can by us Ice-Cream and life happy!
            </p>
            <p class="style3">Also u can <strong>chat</strong> more <strong>for free</strong>!
                <strong>Many Thanks from us!</strong>
            <ul class="actions">
                <li><a href="/selchat/" class="button style3 big">Chat now</a></li>
            </ul>
        </section>
    </div>

{% endblock content %}